#[mysqld]
#read_only=ON
#log_bin=mysql-bin
#binlog_format=ROW
#log_slave_updates=true
#skip-slave-start
#gtid_mode=ON
#enforce_gtid_consistency=ON
[client]
default-character-set=utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
# basedir=/data/mysql/data/
# datadir=/data/mysql/data/4306
read_only=ON
# port=4306
# user=mysql
# pid-file      = /var/run/mysqld/mysqld4306.pid
# socket                = /var/run/mysqld/mysqld4306.sock
default-time-zone = '+08:00'

# lc_messages_dir=/usr/share/mysql-8.0/
# lc_messages = en_US

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'
skip-character-set-client-handshake = true

max_connections = 5000
default-authentication-plugin=mysql_native_password
innodb_file_per_table=1
skip-ssl
explicit_defaults_for_timestamp

#performance
innodb_buffer_pool_size = 18800M
innodb_log_file_size=512M
innodb_log_files_in_group=4
max_heap_table_size = 256M
tmp_table_size = 256M
#tmpdir=/data/mysql/data/temp4306
max_allowed_packet = 64M
slow_query_log=1
slow_query_log_file = /tmp/mysql4306-slow.log
log-error=/tmp/mysqld4306.log
long_query_time = 2

#binlog binlog，enable GTID
#server_id=32
gtid_mode=on
enforce_gtid_consistency=on
master_info_repository=table
relay_log_info_repository=table
binlog_checksum=none
log_slave_updates=on
log_bin=mysql-bin
binlog_format=row
relay-log=saas2-relay-bin
skip-slave-start
